<div class="container">
    <div class="row mt-3">
        <div class="col-md-8 col-sm-12">
            <div class="row">
                <div class="col">
                    <div class="title">{{place?.name}}</div>
                    <div class="stars">
                    </div>
                    <div class="subtitle mt-2 mb-4">{{place?.short_description}}
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" [src]="place?.image_url || ''" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">{{place?.description | safe: 'html'}}.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <agm-map *ngIf="loaded" [latitude]="lat" [longitude]="lng" [zoom]="15" style="width:100%; height:350px;">
                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                    </agm-map>
                </div>
            </div>

        </div>
        <div class="col-md-4 col-sm-12">
            <div class="row pt-5">
                <div class="col text-center">
                    <button type="button" class="btn btn-primary mb-2 btn-lg">Valora el lugar</button>
                    <div class="alert alert-warning" role="alert">
                        Para comentar necesitas haber estado aquí.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Valoraciones</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Estas on las valoraciones de los usuarios que han estado aquí.</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" *ngFor="let review of reviews">
                                    <div class="row">
                                        <div class="col col-md-4">
                                            <div class="image" ><img [src]="review.user?.avatar_url" class="rounded" style="width:75px; height: 75px;"></div>
                                        </div>
                                        <div class="col col-md-8">
                                            <div class="name font-weight-bold">{{review?.user?.name}}</div>
                                            <div class="stars">
                                                <i *ngFor='let number of [1,2,3,4,5]' class="fa-star"
                                                   [ngClass]="{fas:renderStar(number, review.valuation), far:!renderStar(number, review.valuation)}"></i>
                                            </div>
                                            <div class="date font-italic">{{review.created_at.toLocaleString()}}</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="text">{{review.comment}}</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

