<div class="row">
    <div class="col">
        <div class="card mt-5">
            <div class="card-body">
                <h3 class="card-title">Iniciar sesión</h3>
                <form [formGroup]="login_form" (ngSubmit)="onSubmit()">
                    <div class="row" *ngIf="login_error">
                        <div class="col">
                            <div class="alert alert-warning">Email o contraseña inválidos.</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label class="sr-only" for="email">Email</label>
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label class="sr-only" for="password">Contraseña</label>
                            <div class="input-group mb-2">
                                <input type="password" class="form-control" id="password" placeholder="Contraseña" formControlName="password">
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                    </div>
                    <div class="row">
                        <div class="col text-right">
                            <button type="submit" class="btn btn-primary" [routerLink]="'/registro'">Registro</button>

                        </div>
                        <div class="col text-left">
                            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
