<mat-toolbar color="primary">
    <span>MyRoute</span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <span class="menu-icons">
        <a [routerLink]="'places'"><mat-icon>location_on</mat-icon></a>
        <a [routerLink]="'routes'"><mat-icon>directions</mat-icon></a>
        <a ><mat-icon>settings</mat-icon></a>
    </span>
</mat-toolbar>
<router-outlet></router-outlet>
<footer>
    <ul>
        <li>MyRoute &copy; 2018</li>
    </ul>
</footer>
