.fill-remaining-space {
  flex: 1 1 auto;
}

.menu-icons {
  a{
    color:white;
    &:hover{
      text-decoration: none;
      color:#F2F2F2;
    }
  }
  mat-icon{
    margin-right:1rem;
  }
}

footer{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  ul{
    list-style-type: none;
    li{
      display: inline-block;
      margin-right:1rem;
    }
  }
}