@import url('https://fonts.googleapis.com/css?family=Playfair+Display'),
'../mixins';

footer{
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  ul{
    padding:0;
    list-style-type: none;
    margin:0;
    li{
      display: inline-block;
      margin-right:1rem;
    }
  }
}

.rounded-button{
  display: inline-block;
  background-color: #efefef;
  padding:2rem;
  outline:none;
  img{
    border:0;
    outline:0;
  }
  @include border-radius(150px);
  .overlay{
    opacity: 0;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    background-color: #000;
    width:112px;
    height:112px;
    position:absolute;
    top:0;
    margin-left:-32px;
    @include border-radius(150px);
    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
  &:first-child{
    margin-right:1rem;
  }
  &:hover{
    cursor: pointer;
    .overlay{
      opacity: .6;
    }
  }
}

.social-links{
  a{
    color:#999;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    &:hover{
      text-decoration: none;
      color:#bbb;
    }
  }
}