<div class="row">
  <div class="col">
    <div class="card mt-5">
      <div class="card-body">
        <h3 class="card-title text-center">Proponer</h3>
        <div class="row align-items-center">
          <div class="col col-md-2 text-right">
            <button type="button" class="btn btn-primary btn-lg" [routerLink]="'/nueva-ruta'">Nueva ruta</button>
          </div>
          <div class="col">
            <p>¿Estás pensando en una nueva ruta de senderismo? ¿Una gastronómica? Entra aquí para crearla.</p>
          </div>
        </div>
        <hr>
        <div class="row align-items-center">
          <div class="col col-md-2 text-right">
            <button type="button" class="btn btn-primary btn-lg">Nuevo lugar</button>
          </div>
          <div class="col">
            <p>Propón un nuevo lugar al que ir. Puede ser un mirador, una ciudad, o un restaurante, por ejemplo.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
