<div class="row">
    <div class="col text-center">
        <h1 class="display-1">Rutas</h1>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <div class="btn-group" role="group" aria-label="Filtros">
            <button type="button" class="btn btn-outline-primary btn-lg">Mejor valoradas <span class="sr-only">Rutas mejor valoradas</span></button>
            <button type="button" class="btn btn-outline-primary btn-lg">Más visitadas <span class="sr-only">Rutas más visitadas</span></button>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col">
        <div class="card-columns">
            <div class="card" *ngFor="let route of routes">
                <img class="card-img-top" [src]="route.image_url" alt="Imagen de la ruta">
                <div class="card-body">
                    <h5 class="card-title">{{ route.name }}</h5>
                    <div class="stars">
                        <i *ngFor='let number of [1,2,3,4,5]' class="fa-star"
                           [ngClass]="{fas:renderStar(number, route.valuation), far:!renderStar(number, route.valuation)}"></i> ({{route?.valuation| number:'1.2':'es'}})
                    </div>
                    <p class="card-text">{{ route.short_description }}</p>
                    <button class="btn btn-primary" [routerLink]="['/rutas',route.id]">Ver ruta</button>
                </div>
            </div>
        </div>
    </div>
</div>