<div class="row">
  <div class="col text-center">
    <h1 class="display-1">Lugares</h1>
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <div class="btn-group" role="group" aria-label="Filtros">
      <button type="button" class="btn btn-outline-primary btn-lg">Mejor valorados</button>
      <button type="button" class="btn btn-outline-primary btn-lg">Más visitados</button>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col">
    <div class="card-columns">
      <div class="card" *ngFor="let place of places">
        <img class="card-img-top" [src]="place.image_url" alt="Imagen del lugar">
        <div class="card-body">
          <h5 class="card-title">{{ place.name }}</h5>
          <div class="stars">
            <i *ngFor='let number of [1,2,3,4,5]' class="fa-star"
               [ngClass]="{fas:renderStar(number, place.valuation), far:!renderStar(number, place.valuation)}"></i> ({{place?.valuation| number:'1.2':'es'}})
          </div>
          <p class="card-text">{{ place.short_description }}</p>
          <button class="btn btn-primary" [routerLink]="['/lugares',place.id]">Ver lugar</button>
        </div>
      </div>
    </div>
  </div>
</div>