@import url('https://fonts.googleapis.com/css?family=Playfair+Display'),
  '../../mixins';

.carousel-inner .carousel-item {
  width: 100%;
  height: 400px !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.item-positioning {
  background: no-repeat center center fixed;
}

.home-big-text{
  margin: 2rem 0;
  font-size:2.5rem;
  font-family: 'Playfair Display', serif;
}



